<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Engineering department</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#logout-btn").click(function (e) {
                document.getElementById('logout-btn').style.textDecoration = "underline";
                setTimeout(function () {
                    document.getElementById('logout-btn').style.textDecoration = "none";
                    window.location.href = 'http://localhost:50770/Home';
                }, 150);
     
            });
        });

    </script>
</head>
<body>
    <div class="all-site">
        <div class="navbar">
            @{
                if (Session["firstName"] != null)
                {
                    <p id="navbar-hello-user">
                        Hello - <strong style="font-size: large">@Session["firstName"] @Session["lastName"]</strong>
                    </p>
                    <p id="logout-btn">LogOut</p>
                }
            }
        </div>

        <div class="footer">
            <p>&copy; @DateTime.Now.ToString().Substring(0, DateTime.Now.ToString().IndexOf(" ")) - Software Engineering Department</p>
        </div>

        <div class="body-content">
            @RenderBody() 
        </div>

    </div>

</body>
</html>