h2{
    transform: translate(10%, 50%);
}

.headers{
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    cursor: default;
}

th, td {
    padding: 1em;
    background: #ddd;
    border-bottom: 4px solid rgb(75,75,75);
}


.adminInformation-content{
    transform: translate(10%, 10%);
    height: 80%;
    width: 80%;

}

.courses-form, grades {
    height: 100%;
    width: 33.3%;
    align-items: center;

    display: flex;
    justify-content: center;

}

.courses-form select {
    width: 50%;
    height: 5%;
    margin: 5px;
}

.updateGrade {
    width: 80%;
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.manageStudents-content {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}