@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/AdministratorStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        var selector_clicked = '@ViewData["selector"]';
        var setBackground = (element_id) => {
            if (selector_clicked && selector_clicked != element_id) {
                document.getElementById(selector_clicked).style.backgroundColor = "rgb(75,75,75)";
                document.getElementById(selector_clicked).style.color = 'white';
                document.getElementById(selector_clicked).style.textDecoration = "none";
            }
        }

        var changeColor = (element_id) => {

            document.getElementById(element_id).style.backgroundColor = 'rgb(94,254,15)';
            document.getElementById(element_id).style.color = 'rgb(75,75,75)';
            document.getElementById(element_id).style.textDecoration = "underline";
        }

        $(document).ready(() => {
            $('#information').click((e) => {
                setBackground('information');
                selector_clicked = 'information';
                changeColor(selector_clicked);
                window.location.href = 'http://localhost:50770/Student';
            });
        })

        $(document).ready(() => {
            $('#schedule').click((e) => {
                setBackground('schedule');
                selector_clicked = 'schedule';
                changeColor(selector_clicked);
                window.location.href = 'http://localhost:50770/Student/StudentSchedule';
            });
        })

        $(document).ready(() => {
            $('#examSchedule').click((e) => {
                setBackground('examSchedule');
                selector_clicked = 'examSchedule';
                changeColor(selector_clicked);
                window.location.href = 'http://localhost:50770/Student/StudentExams';
            });
        })
    </script>
</head>
<body onload="changeColor(selector_clicked)">
    <div class="Administrator-Home">
        <ul class="Administrator-Menu">
            <li id="information">Information</li>
            <li id="schedule">Schedule</li>
            <li id="examSchedule">Exams Schedule</li>
        </ul>

        <div class="Administrator-Content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
