@model LabProject.Models.VMLecturerManageStudents
@{
    Layout = "~/Views/Lecturer/LecturerLayout.cshtml";
}


<h2>LecturerManageStudents</h2>

<div class="manageStudents-content">

    @using (Html.BeginForm("GetCourses", "Lecturer", new { @class = "courses-form"}))
    {
        @Html.DropDownListFor(m => m.Student.CourseName, Model.GetCourses ,"Select course")

        <input type="submit" id="btn-course" value="select"/>
    }

</div>